<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastFmApiSecret</key>
	<string>d3940df86fea3c7c65585955bf78ba9b</string>
	<key>GoogleAnalyticsPropertyID</key>
	<string>UA-323014-35</string>
	<key>CrashlyticsApiKey</key>
	<string>77e24acb19491869180e64453bd7514475e79c61</string>
	<key>LastFmUsername</key>
	<string>ebotunes</string>
	<key>LastFmApiKey</key>
	<string>62a738a4f7868584277158e4e59ead97</string>
</dict>
</plist>
