<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastFmUsername</key>
	<string>ebotunes</string>
	<key>LastFmApiKey</key>
	<string>79de4922efbb54e68613e47d36de1b9f</string>
</dict>
</plist>
